:root{
    --color1:#045963;
    --color2:rgba(23,180,83,.0788);
    --color3:rgba(11,194,211,0.623);
    --colorPrincipal:#67C1CA;
    --fondo:#f2f2f2;
    --titulos:33px;
    --subtitulos:20px;
    --margenes:60px;
    --espacios:10px;
    --espacios-contenido:45px;
    --back:rgba(216, 208, 239, 0.589) 39%;
    --shadow: box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
}
@font-face {
    font-family: "Arial";
    src: url(../fonts/ARLRDBD.TTF);
  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "open sans";
    background: var(--back);
  /*   background:var(--fondo); */
}
img{
    vertical-align: top;
}

//Preolader
.hidden{
  overflow: hidden;
}
.centrado{
  position:fixed;
  width: 100vw;
  height: 100vh;
  background:var(--back);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
//header

.cabecera{
    width: 100%;
    height: 800px;
    background: linear-gradient(to bottom, rgba(235,233,249,1) 0%,
     rgba(216,208,239,0.73) 39%, rgba(214,206,238,0.7) 43%,
      rgba(206,199,236,0.7) 55%, rgba(193,191,234,0.7) 100%),url(../img/BASCULA-FONDO[362].jpg);
/*     background: radial-gradient(ellipse at center, rgba(183,222,237,0) 0%, rgba(33,180,226,0.07) 7%, rgba(33,180,226,0.2) 20%,
     rgba(18,192,255,0.52) 52%, rgba(113,206,239,0.69) 69%,
      rgba(183,222,237,1) 100%),url(../img/BASCULA-FONDO[362].jpg); */
   /*   background: url(../img/BASCULA-FONDO[362].jpg);  */ 
   /*   background: url(../img/f-g[363].gif);   */
/*    background: linear-gradient(to bottom, rgba(235,233,249,1) 0%,
   rgba(216,208,239,0.73) 39%, rgba(214,206,238,0.7) 43%,
    rgba(206,199,236,0.7) 55%, rgba(193,191,234,0.7) 100%),url(../img/f-g[363].gif);  */

    background-attachment: fixed;
    background-position:center;
    background-size: cover;
}
//nav
nav{
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    z-index: 1;

}
nav .enlaces a{
    display: inline block;
    padding: 5px;
    margin-right: 17px;
    font-size:17px ;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color:inherit;
}
nav .enlaces a:hover{
    
    border-bottom: 1px solid #1498a4;
    transition: 0.6s;
}
.nav1{
    background: transparent;
    height: 80px;
    color: #35042d73;
    
}
.nav2{
    background: var(--fondo);
    height: 100px;
    color: var(--color1);
}
.contenedor-nav{
    display: flex;
    margin:auto;
    width: 90%;
    justify-content: space-between;
    align-content: center;
    max-width: 1000px;
    height: inherit;
    overflow: hidden;
}


//logo
.logo,.logo img{height: 60px;}

.logo{
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    overflow: hidden;
    
}
.logo img{
  animation:DesdeIzquierda 1s linear;
}
@keyframes DesdeIzquierda{
  from{
    transform: translateX(-200%);
  }
  to{
    transform: translateX(0%);
  }
}
//icono
.icono{
    display: none;
    font-size: 24px;
    padding: 23.5px 20px;
    


}
.inicio{
font-family: Georgia, 'Times New Roman', Times, serif;
   width:100%;
   height: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;

}
.inicio h1{
  animation: aparecer 2s linear;
}
@keyframes aparecer{
  0%{
    transform: translateX(-200%);
    opacity: 0;
  }
  50%{
    transform: translateX(0%);
    opacity: .5;
  }
  100%{
    opacity: 1;
  }
}
//enlaces
.enlaces{
    margin: auto;
}

//preolader
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #cef;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  .btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color:#8ff6ff;
    outline: 0;
  }

  .btncabecera {
    border-color: #67C1CA;
    color: #fff;
    box-shadow: 0 0 40px 40px #67C1CA inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .btncabecera:hover {
    box-shadow: 0 0 10px 0 #67C1CA inset, 0 0 10px 4px #67C1CA;
  }


.botones{
  display: inline-flex;
}
  .contenedor{
    margin:auto;
    padding: var(--margenes) 0;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
  }
  .contenedor h3{
    font-size: var(--titulos);
    color: var(--color1);
    margin-bottom: var(--espacios);

  }
.contenedor p{
  font-size: var(--subtitulos);
  color: var(--color1);
}
.after::after{
  content: '';
  display: block;
  margin:auto;
  margin-top: var(--espacios);
  width: 100px;
  height: 2px;
  background: var(--color1);
  margin-bottom: var(--espacios);
}
.servicios{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.imgService{
  height: 80%;
}
.imgService img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor-servicios{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.caja-servicios{
  width: 31%;
  box-shadow: var(--shadow);
  overflow:hidden;
  height: 400px;
  margin: 2%;
}
  //------------------------------- Pruebas--------------------

  @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
  @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
  figure.snip1477 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 0px;
    height: 400px;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    background-color:var(--colorPrincipal);
  }
  figure.snip1477 *,
  figure.snip1477 *:before,
  figure.snip1477 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
  }
 figure.imagenesServicios{
    max-height: 50%;
  }
  figure.snip1477 img {
    max-width: 100%;
    max-height: 500px;
    backface-visibility: hidden;
    vertical-align: top;
    opacity: 0.9;
  }
  figure.snip1477 .title {
    position: absolute;
    top: 58%;
    left: 25px;
    padding: 5px 10px 10px;
  }
  figure.snip1477 .title:before,
  figure.snip1477 .title:after {
    height: 2px;
    width: 400px;
    position: absolute;
    content: '';
    background-color: #ffffff;
  }
  figure.snip1477 .title:before {
    top: 0;
    left: 10px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  figure.snip1477 .title:after {
    bottom: 0;
    right: 10px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  figure.snip1477 .title div:before,
  figure.snip1477 .title div:after {
    width: 2px;
    height: 300px;
    position: absolute;
    content: '';
    background-color: #ffffff;
  }
  figure.snip1477 .title div:before {
    top: 10px;
    right: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  figure.snip1477 .title div:after {
    bottom: 10px;
    left: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  figure.snip1477 h2,
  figure.snip1477 h4 {
    margin: 0;
    text-transform: uppercase;
    font-size: 28px;
  }
  figure.snip1477 h2 {
    font-weight: 100;
  }
  figure.snip1477 h4 {
    display: block;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
  }
  figure.snip1477 figcaption {
    position: absolute;
    bottom: 42%;
    left: 25px;
    text-align: left;
    opacity: 0;
    padding: 5px 60px 5px 10px;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1.5px;
  }
  figure.snip1477 figcaption p {
    margin: 0;
    color: white;
  }
  figure.snip1477 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  figure.snip1477:hover img,
  figure.snip1477.hover img {
    zoom: 1;
    filter: alpha(opacity=35);
    -webkit-opacity: 0.35;
    opacity: 0.35;
  }
  figure.snip1477:hover .title:before,
  figure.snip1477.hover .title:before,
  figure.snip1477:hover .title:after,
  figure.snip1477.hover .title:after,
  figure.snip1477:hover .title div:before,
  figure.snip1477.hover .title div:before,
  figure.snip1477:hover .title div:after,
  figure.snip1477.hover .title div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  figure.snip1477:hover .title:before,
  figure.snip1477.hover .title:before,
  figure.snip1477:hover .title:after,
  figure.snip1477.hover .title:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  figure.snip1477:hover figcaption,
  figure.snip1477.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }


  .botones-work{
    overflow: hidden;
  }
.botones-work li{
  display: inline-block;
  text-align: center;
  margin-left: var(--espacios);
  margin-bottom: var(--espacios-contenido);
  padding:6px 12px ;
  border: 1px solid var(--colorPrincipal);
  list-style: none;
}
.botones-work li:hover{
background: var(--colorPrincipal);
color: #fff;
cursor: pointer;
}
.botones-work .active{
  background: var(--colorPrincipal);
color: #fff;
}
.galeria-work{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
.galeria-work .cont-work{
  width: 31%;
  box-shadow: var(--shadow);
  height: 100px;
  overflow: hidden;
  margin-bottom: var(--espacios-contenido);

}
.img-work{
  height: 90%;
  width: 100%;
}
.img-work img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.textos-work{
  height: 10%;
}
.textos-work h4{
  line-height: 10%;
  font-weight: 300;
}

.marca-logo{
  width: 40%;
  margin: auto;
  margin-bottom: var(--espacios);
}
.marca-logo img{
  width: 100%;
}
.fab{
  font-size: 20px;
  color: #ffffff;
  margin-bottom: var(--espacios);
  display: inline-block;
}
footer{
width: 100%;
  bottom: 0;
  background: url(../img/blackboard-1846865.jpg);
}
footer p{
  margin-top: var(--espacios);
  color: white;
  text-align: center;
}
.foot{
 margin:50px;
}



.botonesPrincipales {
  width: 100%;
  display: flex;
  align-content:center;
  justify-content: center;
  flex-wrap: wrap;

}

.button {
  min-width: 20%;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  margin: 30px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #fff;
  background: var(--colorPrincipal);
  border: none;
  border-radius: 100px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  
  }
  .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid var(--colorPrincipal);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }

.button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(100% + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
  
}

.button:hover, .button:focus {
  color: #fff;
  transform: translateY(-6px);
}

.button:hover::before, .button:focus::before {
  opacity: 1;
}



.button:hover::after, .button:focus::after {
  animation: none;
  display: none;
}
.imgAcre img{
  cursor: pointer;
  margin:0;
}
.imgAcre img:hover{
  transform: translateY(-6px);
  box-shadow: 
  inset 0 -3em 3em rgba(0,0,0,0.1), 
        0.3em 0.3em 1em rgba(0,0,0,0.3);

}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}




@media screen and (max-width:960px){
  .nav2{
    color: #ffffff;
  }
  .icono{
    display: block;
    cursor: pointer;
  }
  .enlaces{
    position: fixed;
    top:80px;
    background: var(--colorPrincipal);
    left: 0;
    height: 100%;
    transition: 1s;
    width: 0%;
    overflow: hidden;

  }
  .enlaces a{
    display: block;
    width: 100%;
    height: 50px;
    padding: 20px;
    text-align: center;
    background:var(--colorPrincipal);
    color: #ffffff;
  }
  .button{
  font-size: 15px;
  }
  .inicio>h1{font-size: 25px;text-align: center;}
  .caja-servicios{
    width: 80%;
    margin-bottom: var(--margenes);;
  }
  .contenedor-servicios{
    justify-content: center;
  }

}
//--------------------

